{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
Page d'accueil



   
    <div class="MainPage">


            <!-- Entête-->
    <div class="Entete">
        <div class="paraEnt">
             {% for elemPageHome in homepageG %}
            <h1>{{elemPageHome.h1}}</h1>
            <h2>{{elemPageHome.h2}}</h2>
            {% else %}
            <li>Aucun produit trouvé.</li>
        {% endfor %}

        </div>
        <div class="ImgEnt">
            {% for elemPageHome in homepageG %}
            <p>{{elemPageHome.paragraphe}}</p>
            <div class="ImgL">{{elemPageHome.img}}</div>
            {% endfor %}
        </div>
    </div>
 
<!--BestSeller-->
        <div class="blocsHome BestSeller"></div>
<!--Coup de coeur-->
        <div class="blocsHome CdC"></div>
<!--Avis client-->
        <div class="blocsHome Avis"></div>
<!--Réseau-->
        <div class="blocsHome Reseau"></div>
    </div>
{% endblock %}
