{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
Page d'accueil
 <h1>Liste des produits</h1>

    <ul>
        {% for Typeproduit in Typeproduits %}
            <li>
                {{ Typeproduit.libelle }}
            </li>
        {% else %}
            <li>Aucun produit trouvé.</li>
        {% endfor %}
    </ul>
    <div class="MainPage">
<!--En tête-->
        <div class="blocsHome Entete"></div>
<!--BestSeller-->
        <div class="blocsHome BestSeller"></div>
<!--Coup de coeur-->
        <div class="blocsHome CdC"></div>
<!--Avis client-->
        <div class="blocsHome Avis"></div>
<!--Réseau-->
        <div class="blocsHome Reseau"></div>
    </div>
{% endblock %}
