/* Boutons principaux */
.btn-primary {
    background: #dda6c8 !important;
    /* rose */
    border-color: #e1afdd !important;
}

/* Hover */
.btn-primary:hover {
   background: #e9e6e8 !important;
    border-color: #e1afdd !important;
    color: #dda6c8  !important;
    box-shadow: rgba(193, 193, 202, 0.399);
}

/* Boutons secondaires */
.btn-secondary {
    background-color: #6b7280 !important;
}

/* Boutons danger (supprimer) */
.btn-danger {
    background-color: #352b2b !important;
    border-color: #f4e4e4 !important;
}