.menu-item-label  {
    color: #e74c3c !important;       /* couleur du texte */
    font-weight: bold;     /* gras */
    text-transform: uppercase; /* majuscules */
    font-size: 16px;       /* taille du texte */
}
.btn-ajouter {
    background-color: #28a745 !important; /* vert */
    color: white;              /* texte blanc */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}