/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ody {
    background-color: skyblue;
}
/* Perosnnalisation Tailwind */
.bg-dark {
    /*bg navbar*/
    background-color: aqua;
}
.listMenu{
     background-color: aqua;
}
header{
    background-color: black;
    height: 100vh;
}