/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

/* HEADER */
/* Perosnnalisation Tailwind */
.bg-dark {
  /*bg navbar*/
  background-color: rgb(112, 135, 145);
}

.listMenu {
  background-color: rgb(112, 135, 145);
}

header {
  background-color: black;
  height: 100vh;
  margin-bottom: 68px;
}

.NavUl {
  /* margin-right: 70px;*/
}

h1 {
  font-size: 3rem !important;
  /* ou 32px */
  font-weight: bold !important;
  margin-bottom: 1rem !important;
  text-align: center;
}

h2 {
  font-size: 2rem !important;
  /* ou 24px */
  font-weight: bold !important;
  margin-bottom: 0.75rem !important;
  text-align: center;

}

p {
  font-size: 1rem !important;
  /* ou 16px */
  line-height: 1.6 !important;
  margin-bottom: 1rem !important;
  text-align: start;
  padding: 0px 16px;
  width: 60%;
}

.ImgEnt {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

}

.Entete {
  width: 85%;
  margin: 0 auto;
}

.ImgL {
  width: 40%;
  height: 300px;
  background-color: bisque;
}
 /* Bloc Réseaux sociaux */
 .LiensResaux:hover .EffHov{
  
  height: 100%;
  
 }
 .LiensResaux:hover{
  scale: 1.01;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  

 }
 .EffHov{
  width: 100%;
  height: 0%;
  background-color: rgba(255, 167, 246, 0.274);
  transition: 0.5s; /* 0.5 secondes */
  position: absolute;
  
 }

 /* Bloc blocsHome Coup de coeur */
 .blocsHomeCdC{
  width:90%;
  height: 300px;
  margin: 36px auto ;
 }
 .imgCdc{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
 }
 .CDC{
  width: 33%;
  height: 100%;
  background-color: bisque;
  margin: 0 auto;
 }
/*Bloc Produit----*/
.BlocProduits {
  margin-top: 48px;
  margin-bottom: 24px;
}

.ProduitList {
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.cardProd {
  width: 235px;

  height: 400px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 2px 2px 8px 2px #6565655c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 16px;
  padding: 8px;
  position: relative;
}

.ImgProduit {
  margin: 4px auto;
  width: 100%;
  height: 200px;
  background-color: black;
  overflow: hidden;
  background-position: center;
  /* centre l'image horizontalement ET verticalement */
  background-repeat: no-repeat;
  /* évite les répétitions si l’image est trop petite */
}

.imgProduit img {
  object-fit: cover !important;
}

.TitreProduit {
  margin: 6px auto;
  text-align: center;
}

.DescripProduit {
  margin: 8px auto;
  margin-bottom: 2px;
  height: 110px;

}

.InfoProduit {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  flex-grow: 1;


}

/*--FOOTER---*/
footer li {
  color: #cfb5b5;
  line-height: 30px;
}

.BlocFooter {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(112, 135, 145);
}

#ResSoc {
  background-color: rgb(177, 193, 201);
  padding-top: 48px;
  padding-bottom: 24px;
}

.Prx {
  font-weight: bold;
}

.blocsHomeReseau {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
}

.test {
  background-color: blue;
  border: solid 4px red;
  width: 25%;
  height: 300px;
}

.Myicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: palevioletred;
  font-size: 50px;
}